## Voron Design VORON 2.4R2 250/300/350mm with Spider config, Lecktor kit
## adapted by 3d_exp for deepBlue
## live configuration - please check & adapt before use

##--------------------------------------------------------------------
## *** THINGS TO CHANGE/CHECK: ***
## MCU paths							        [mcu] section
## Thermistor types						        [extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location	                [safe_z_home] section
## Homing end position				            [gcode_macro G32] section
## Z Endstop Switch  offset for Z0	            [stepper_z] section
## Probe points							        [quad_gantry_level] section
## Min & Max gantry corner postions	            [quad_gantry_level] section
## PID tune								        [extruder] and [heater_bed] sections
## Fine tune E steps					        [extruder] section

##--------------------------------------------------------------------
## *** FOR REFERENCE ***
##
## ^PA1 - X endstop
## ^PA2 - Y endstop
## ^PA3 - proximity probe
## ^PB14 - unused 
## PB13 - Case Leds
## ^PA0 - Z-endstop
## PB0 - Bed thermistor
## PC0 - Hot-End thermistor
## PA13 - EFAN
## PA14 - PFAN
## PB2 - Nevermore fans
##


#####################################################################
#    Printer Core definition
#####################################################################

[mcu]
##	Obtain definition by "ls -l /dev/serial/by-id/" 
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_270023000F51383039343538-if00

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000			        #Max 4000
max_z_velocity: 15			    #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

## Uncomment below if you're using the Raspberry uart0 to communicate with Spider
#restart_method: command

##	include further mcu's
##--------------------------------------------------------------------
[include configuration/rpi.cfg]

#####################################################################
#    Moniter temp of mcu  & Pi
#####################################################################
[temperature_sensor Spyder]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100




#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT (B Motor)
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
endstop_pin: ^PA1 
position_min: 0

##--------------------------------------------------------------------
position_endstop: 299
position_max: 301

##--------------------------------------------------------------------
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PE7
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
##	Connected to Y-MOT (A Motor)
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
endstop_pin: ^PA2
position_min: -10
##--------------------------------------------------------------------

position_endstop: 309
position_max: 309

##--------------------------------------------------------------------
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE15
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
##  In Z- Position
endstop_pin: ^PA0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: 0
##--------------------------------------------------------------------
position_max: 280

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD10
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E1-MOT Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E2-MOT Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PE2
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PC15
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E3-MOT Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PA15
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#######################################
#### Enclosure Temp Sensor Section ####
#######################################
##[thermistor chamber_temp]
##temperature1: 25
##resistance1: 10000
##beta: 3950


##[temperature_sensor enclosure_temp]
##sensor_type: chamber_temp
##sensor_pin: PC1
##min_temp: 0
##max_temp: 100
##gcode_id: C


#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4

rotation_distance: 22.7923459 # CALIBRATED for Stealthburner

gear_ratio: 5:1				# CW2
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.75

##      In E0 OUT Position
heater_pin: PB15

##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 10
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
#	Try to keep pressure_advance below 1.0
pressure_advance: 0.025
#	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

##	In E0-MOT Position
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.5
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PB0 # TB Position
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 59.854
#pid_ki: 1.596 
#pid_kd: 561.133

#####################################################################
#	Probe
#####################################################################

[probe]
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, change pin to ^!PA3
pin: ^PA3
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: PA13
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: PA14
max_power: 1
kick_start_time: 0.5
off_below: 0.10

#[heater_fan controller_fan]
##	Exhaust fan - In E2 OUT Positon
#pin: PB3
#max_power: 1
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 80
#fan_speed: 1.0


[fan_generic nevermore_fan]
#  nevermore fan in fan3 connector
pin: PB2
max_power: 1.0
kick_start_time: 0.250
off_below: 0.10


#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 9000
gcode:
#   A list of G-Code commands to execute on an idle timeout.
#   The default is to run "TURN_OFF_HEATERS" and "M84".
 TURN_OFF_HEATERS
 M84
 SET_FAN_SPEED FAN=nevermore SPEED=0

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position: 97,309
speed:100
z_hop:10
   
[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners 
##  - measure from nozzle at MIN (0,0) and MAX (300,300)
##	to respective belt positions

#--------------------------------------------------------------------
##	Gantry Corners for 300mm Build
##	Uncomment for 300mm build
gantry_corners:
	-60,-10
	360,370
#	Probe points
points:
	50,25
	50,225
	250,225
	250,25

#--------------------------------------------------------------------
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


[bed_mesh]
speed: 300
horizontal_move_z: 10

##--------------------------------------------------------------------
mesh_min: 40, 40
mesh_max: 260,260

##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 9,9
algorithm: bicubic
relative_reference_index: 40

#####################################################################
#	Displays
#####################################################################

#--------------------------------------------------------------------

[display]
#	mini12864 LCD Display
lcd_type: uc1701
cs_pin: PC11
a0_pin: PD2
rst_pin: PC10
encoder_pins: ^PC6,^PC7
click_pin: ^!PA8
contrast: 63
#spi_bus: spi1
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5



#	Set RGB values on boot up for each Neopixel. 
#	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
# SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=0.75

#--------------------------------------------------------------------

[include mainsail.cfg] 						
[include configuration/index.cfg]
[include macros/index.cfg]

## 	Common Temperature Sensors
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
##   "PT1000"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.108
#*# pid_ki = 1.156
#*# pid_kd = 297.792
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.922
#*# pid_ki = 2.145
#*# pid_kd = 104.353
#*#
#*# [stepper_z]
#*# position_endstop = 2.060
#*#
#*# [bed_mesh test]
#*# version = 1
#*# points =
#*# 	0.033750, 0.028750, 0.021250, 0.018750, 0.020000, 0.017500, 0.018750, 0.030000, 0.058750
#*# 	0.030000, 0.020000, 0.011250, 0.006250, 0.005000, 0.002500, -0.001250, 0.006250, 0.026250
#*# 	0.022500, 0.013750, 0.001250, -0.001250, -0.001250, -0.006250, -0.011250, -0.008750, 0.005000
#*# 	0.008750, 0.005000, -0.003750, -0.008750, -0.007500, -0.010000, -0.018750, -0.017500, -0.002500
#*# 	0.013750, 0.011250, 0.002500, -0.002500, 0.000000, -0.001250, -0.003750, -0.002500, 0.008750
#*# 	0.006250, 0.006250, 0.001250, -0.006250, 0.000000, 0.003750, 0.003750, 0.008750, 0.023750
#*# 	0.021250, 0.018750, 0.012500, 0.006250, 0.010000, 0.011250, 0.016250, 0.022500, 0.036250
#*# 	0.017500, 0.012500, 0.006250, -0.001250, -0.001250, -0.003750, 0.000000, 0.006250, 0.023750
#*# 	0.037500, 0.033750, 0.025000, 0.015000, 0.013750, 0.007500, 0.008750, 0.017500, 0.028750
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 9
#*# max_y = 260.0
#*# mesh_x_pps = 2
#*# max_x = 260.0
#*#
#*# [bed_mesh test 70]
#*# version = 1
#*# points =
#*# 	0.040000, 0.035000, 0.028750, 0.027500, 0.028750, 0.026250, 0.028750, 0.037500, 0.062500
#*# 	0.032500, 0.022500, 0.016250, 0.011250, 0.011250, 0.008750, 0.006250, 0.015000, 0.032500
#*# 	0.025000, 0.015000, 0.005000, 0.002500, 0.002500, -0.002500, -0.007500, -0.005000, 0.010000
#*# 	0.011250, 0.007500, -0.001250, -0.006250, -0.005000, -0.007500, -0.015000, -0.013750, -0.000000
#*# 	0.013750, 0.012500, 0.005000, -0.001250, 0.000000, -0.001250, -0.001250, -0.001250, 0.011250
#*# 	0.008750, 0.007500, 0.003750, -0.003750, 0.002500, 0.005000, 0.006250, 0.011250, 0.027500
#*# 	0.023750, 0.020000, 0.015000, 0.008750, 0.012500, 0.013750, 0.018750, 0.026250, 0.040000
#*# 	0.018750, 0.012500, 0.007500, 0.000000, 0.000000, -0.002500, 0.002500, 0.008750, 0.027500
#*# 	0.038750, 0.036250, 0.027500, 0.017500, 0.016250, 0.010000, 0.011250, 0.018750, 0.031250
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 9
#*# max_y = 260.0
#*# mesh_x_pps = 2
#*# max_x = 260.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.038750, 0.032500, 0.026250, 0.025000, 0.026250, 0.023750, 0.026250, 0.036250, 0.060000
#*# 	0.028750, 0.020000, 0.011250, 0.008750, 0.008750, 0.007500, 0.003750, 0.011250, 0.028750
#*# 	0.022500, 0.012500, 0.002500, -0.000000, -0.001250, -0.003750, -0.010000, -0.006250, 0.007500
#*# 	0.007500, 0.005000, -0.003750, -0.008750, -0.007500, -0.008750, -0.016250, -0.015000, -0.001250
#*# 	0.012500, 0.010000, 0.002500, -0.002500, 0.000000, -0.001250, -0.002500, 0.000000, 0.011250
#*# 	0.005000, 0.005000, 0.001250, -0.005000, 0.000000, 0.003750, 0.005000, 0.010000, 0.026250
#*# 	0.021250, 0.017500, 0.013750, 0.007500, 0.011250, 0.012500, 0.016250, 0.023750, 0.037500
#*# 	0.016250, 0.011250, 0.006250, -0.002500, -0.002500, -0.005000, -0.001250, 0.007500, 0.025000
#*# 	0.036250, 0.032500, 0.025000, 0.013750, 0.012500, 0.007500, 0.007500, 0.016250, 0.027500
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 9
#*# max_y = 260.0
#*# mesh_x_pps = 2
#*# max_x = 260.0
